@media only screen and (max-width: 1080px) {
  .auth_footer_list {
    display: grid !important;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .auth_footer_list > li {
    margin: 0px 2px 5px 2px;
    justify-content: flex-start !important;
  }
}

@media only screen and (max-width: 1332px) {
  .auth_footer {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 526px) {
  .auth_footer_list {
    grid-template-columns: 37.5% 37.5% 37.5%;
  }
}
.auth_footer {
  /* border: 1px solid red; */
  /* height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  background-color: white;
}

.auth_footer_head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_footer_logo {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0px;
}

.auth_copyright {
  font-size: 12px;
  font-weight: 550;
  margin: 5px 10px;
}

.auth_footer_list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.auth_footer_list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: #35373b;
  margin-right: 15px;
  /* white-space: nowrap; */
}

.auth_footer_list > li:hover {
  text-decoration: underline;
  color: #0275d8;
}

.auth_footer_list > li:last-child:hover {
  text-decoration: none;
  color: #2570fa;
}
