.feed {
  margin: 0px 20px;
}

.feed_inputContainer {
  background-color: white;
  padding: 15px 10px;
  border: 0.6px solid lightgray;
  border-radius: 10px;
}

.feed_input {
  display: flex;
  align-items: center;
}

.feed_input_form {
  flex: 1;
  align-items: center;
  margin-left: 10px;
  display: flex;
  border: 0.5px solid black;
  border-radius: 30px;
  padding: 14px;
  cursor: pointer;
}

.feed_input_form:hover {
  background-color: whitesmoke;
}

.feed_input_form > p {
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #6a6a6a;
}

.feed_inputOptions {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  /* border: 1px solid red; */
}

.new {
  height: 4000px;
}
