.loginInput_wrapper {
  border: 0.5px solid #2b2c2f;
  height: 50px;
  margin: 20px 5px 10px 5px;
  padding-left: 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.loginInput_wrapper > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loginInput_wrapper > div > input {
  flex: 1;
  border: none;
  height: 45px;
  width: 95%;
  outline-width: 0px;
  outline: none;
  background: white;
  font-size: 16px;
  font-weight: 500;
}

.loginInput_wrapper > div > input:focus {
  background: none;
}

.loginInput_wrapper > div > input:focus::-webkit-input-placeholder {
  color: transparent;
  /* transition: 0.5s ease-out; */
}

.loginInput_wrapper > div > h4 {
  font-size: 15px;
  font-weight: 500;
  color: #141517;
  transition: 1s ease-in-out;
}

.loginInput_wrapper > span {
  width: 35px;
  font-size: 13px;
  font-weight: 700;
  color: #0275d8;
  border-radius: 15px;
  margin-right: 3px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
}

.loginInput_wrapper > span:hover {
  background-color: rgba(17, 94, 237, 0.3);
}
