@media only screen and (max-width: 360px) {
  .feed_profile_hide {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 360px) {
  .feed_profile_hide {
    display: none;
  }
}

.feed {
  margin: 0px 20px;
}

.feed_inputContainer {
  background-color: white;
  padding: 15px 10px;
  border: 0.6px solid lightgray;
  border-radius: 10px;
}

.feed_input {
  display: flex;
  align-items: center;
}

.feed_input_form {
  flex: 1;
  align-items: center;
  margin-left: 10px;
  display: flex;
  border: 0.5px solid black;
  border-radius: 30px;
  padding: 14px;
  cursor: pointer;
}

.feed_input_form:hover {
  background-color: whitesmoke;
}

.feed_input_form > p {
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #6a6a6a;
}

.feed_inputOptions {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  /* border: 1px solid red; */
}

.feed_post_sort {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feed_post_sort > span {
  border: 0.5px solid lightgray;
  flex: 1;
  /* margin-top: 10px; */
}

.feed_post_sort_content {
  font-size: 12px;
  font-weight: 400;
  color: #4f4f4f;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed_post_sort_content > span {
  font-size: 12px;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 2px;
}

.feed_post_wrapper {
  margin-top: 10px;
}
