.headerOption_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  color: gray;
  cursor: pointer;
  padding: 5px 10px 10px 10px;
}

.headerOption_container:hover {
  height: 38px;
  color: black;
  border-bottom: 2px solid black;
}

.headerOption_title {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  color: inherit;
  height: 20px;
  border: 0px;
  /* border: 1px solid red; */
}

.headerOption_icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.headerOption_link {
  /* border: 1px solid red; */
  text-decoration: none;
}
