@media only screen and (max-width: 960px) {
  .header_container {
    display: none;
  }
  .header_search {
    display: none;
  }

  .header_left {
    align-items: center;
    padding: 2px 10px;
  }

  .header_left > img {
    height: 30px;
  }
  .header_right {
    display: flex;
  }
}

@media only screen and (min-width: 960px) {
  .header_container {
    display: flex;
  }
  .header_search {
    display: flex;
  }

  .header_left {
    width: 350px;
  }

  .header_right {
    display: flex;
    width: 450px;
  }

  .header_left > img {
    height: 40px;
  }
}

.header_container {
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  width: 100%;
  background-color: white;
  /* border: 1px solid red; */
}

.header_left {
  display: flex;
  /* border: 1px solid red; */
}
.header_left > img {
  object-fit: contain;
  margin-right: 10px;
}

.header_search {
  padding: 5px;
  /* flex: 1; */
  align-items: center;
  border-radius: 5px;
  height: 30px;
  color: gray;
  background-color: #eef3f8;
  transition: 0.5s linear;
}

.header_search > input {
  /* flex: 1; */
  outline: none;
  border: none;
  background: none;
}

.header_search:hover {
  /* flex: 1; */
}

.header_right {
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid red; */
}
