@media only screen and (max-width: 360px) {
  .sidebar_showmore {
    display: flex;
  }
}

@media only screen and (min-width: 360px) {
  .sidebar_showmore {
    display: none;
  }
}

.sidebar_container {
  position: sticky;
  top: -320px;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar_avatar {
  margin-bottom: 10px;
}

.sidebar_top_wrapper {
  border: 0.8px solid lightgray;
  border-radius: 10px;
}

.sidebar_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px solid lightgray;
  background-color: white;
  padding-bottom: 10px;
  cursor: pointer;
}

.sidebar_top > h4 {
  color: gray;
  font-size: 13px;
  font-weight: 400;
  margin: 10px;
  text-decoration: none;
}

.sidebar_top_hover {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar_top_hover:hover {
  text-decoration: underline;
}

.sidebar_top_hover > img {
  margin-bottom: -40px;
  width: 100%;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar_top_hover > span {
  padding: 1.5px;
  background-color: white;
  border-radius: 100px;
}

.sidebar_top_hover > h2 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: inherit;
  cursor: pointer;
}

.sidebar_top_hover > h2:hover {
  text-decoration: underline;
}

.sidebar_stat {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar_stat:hover {
  background-color: whitesmoke;
}

.sidebar_stat > p {
  color: #444;
  font-size: 12px;
  font-weight: 600;
}

.sidebar_stats {
  border-bottom: 0.5px solid lightgray;
  padding: 10px 0px;
  background-color: white;
}

.sidebar_statNum {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar_premium {
  border-bottom: 0.5px solid lightgray;
  padding: 10px;
  background-color: white;
  cursor: pointer;
}

.sidebar_premium:hover {
  background-color: whitesmoke;
}

.sidebar_premium > p {
  font-size: 12px;
  color: #444;
}

.sidebar_premium_link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  /* border: 1px solid red; */
}

.sidebar_premium_link > span {
  height: 12px;
  width: 15px;
  border-radius: 5px;
  background: brown;
}

.sidebar_premium_link > h5 {
  font-size: 11px;
  text-align: left;
  margin-left: 4px;
  text-decoration: underline;
}

.sidebar_item_link {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.sidebar_item_link:hover {
  background-color: whitesmoke;
}

.sidebar_item_link > p {
  font-size: 12px;
  font-weight: 600;
  margin-left: 6px;
}
.sidebar_bottom {
  text-align: left;
  padding: 10px 0px 0px 0px;
  border: 0.5px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar_bottom > p {
  margin: 5px;
  font-size: 13px;
}

.sidebar_recentItem {
  display: flex;
  color: gray;
  cursor: pointer;
  margin-bottom: 3px;
  padding: 5px 10px;
}
.sidebar_recentItem > p {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 500;
}
.sidebar_recentItem:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
}

.sidebar_discover {
  /* border: 1px solid red; */
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar_discover:hover {
  background-color: lightgray;
}

.sidebar_showmore {
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: none;
  cursor: pointer;
}

.sidebar_showmore > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_showmore > span:hover {
  color: #4f4f4f;
}
