.search_outstretch {
  position: absolute;
  top: 54px;
  /* border: 0.5px solid lightgray; */
  border-radius: 5px;
  background-color: white;
  width: 400px;
  /* height: 500px; */
  padding-bottom: 10px;
  margin-left: -5px;
  box-shadow: 0px 6px 10px rgba(1, 2, 3, 0.45);
}

.search_outstretch_wrapper {
}

.search_outstretch_top {
  border-bottom: 0.5px solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
}

.search_outstretch_top_head {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_outstretch_top_head > span {
  font-size: 14px;
  color: black;
}

.search_outstretch_top_head > span:last-child {
  font-weight: 500;
  color: #4f4f4f;
  cursor: pointer;
}

.search_outstretch_item {
  padding: 0px 10px;
  display: flex;
}
.search_outstretch_recent {
}

.search_outstretch_bottom_head {
  padding: 10px;
}

.search_outstretch_bottom_head > span {
  font-size: 14px;
  color: black;
}
